/* Styles */
body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background-color: #f5f5f5;
    overflow: scroll;
  }
  .card-container.card {
    width: 450px;
    padding: 20px 40px;
}

/*
 * Card component
 */
 .card {
     background-color: #fff;
     padding: 10px 15px 20px;
     margin: 0 auto 25px;
     margin-top: 40px;
     -moz-border-radius: 8px;
     -webkit-border-radius: 8px;
     border-radius: 8px;
     -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
     -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
     box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
 }


  
  ::-webkit-scrollbar {
      display: none;
  }
  .modal.modal-wide .modal-dialog {
    width: 55%;
  }
  .modal-wide .modal-body {
    overflow-y: auto;
  }
 
  .wrap-text {
      word-wrap: break-word;min-width: 160px;max-width: 160px;
      font-size: 11px;font-weight: bold;
  }
  label {
    white-space: nowrap;
  }
  .multicheckbox {
      font-weight: normal;
  }
  .multicheckbox > input
  {
      margin-right:10px;
  }
  #navigation,
.navbar .navbar-inverse .navbar-header {
   padding: 16px;
}
#navigation .nav > li {
    font-size: 18px;
    padding-right:20px;
    font-weight:400; 
    color:#fff;
    
}
#navmain {
    background-color: #F5F5F5;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 5px 10px rgba(0, 0, 0, 0.2);
}
#navhistory {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    background-color: #F5F5F5;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 5px 10px rgba(0, 0, 0, 0.2);
}

.navbar-collapse {
    width: 100%
}

  .debug-root { background-color: '#1f4662'; color: '#fff'; font-size: '12px'; }

.debug-header { background-color: '#193549'; padding: '5px 10px'; font-family: 'monospace'; color: '#ffc600'; }

.debug-pre { display: 'block'; padding: '30px'; margin: '10px'; overflow: 'scroll'; max-width: 800px }

  .nopadding {
     padding: 0 !important;
     margin: 0 !important;
  }
  
  .page-header{
    margin:0 0 12px 0;
    border:0;
  }
  .reorderPanel {
    height: 400px;
    overflow-y: scroll;
  }
  .page-header h3{
    margin:0;
  }
  
  
  .panel-default > .panel-heading .badge{
    background-color:#337ab7;
    margin-left:6px;
  }
  
  .panel-title a {
    color:#337ab7;
  }
  
  .panel-body {
    padding: 15px 15px 0 15px;
  }
  
  .panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group{
      border:0;
      box-shadow:none;
  }
  
  .panel .list-group-item.active, .panel .list-group-item.active:hover, .panel .list-group-item.active:focus{
    background:#f5f5f5;
    color:rgb(51,51,51);
    text-shadow:none;
    border-color:rgb(221,221,221);
  }
  
  .panel > .panel-collapse > .list-group:first-child .list-group-item:first-child{
      border-radius:0;
  }
  
  .data {
      padding-left: 10px;
      display: block;
      font-size: 12px;
      max-width: 450px;
      overflow: scroll;
  }
  .well{
      margin-bottom:0;
      border-radius:0;
  }
  
  .help-block{
      margin:0 0 4px 0;
  }
  
  .badge.active{
    background-color:#5cb85c;
  }
  
  .modal-body{
      padding:15px 15px 0 15px;
  }
  
  .modal button.btn-xs{
      margin-top:8px;
  }
  
  .btn-toolbar .btn{
      font-size:12px;
  }
  .active {
    color: #fff;
    background-color: #000;
  }
  .statusUP
  {
      background-color:darkseagreen;
  }
  .trError,
  .statusDOWN
  {
      background-color:indianred;
  }
  
  
  
  .album > h2{
      text-align: center;
      margin:12px 22px;
      color:#fff;
  }
  .form-poster{
    padding: 8px;
    margin: 0 auto;
  }
  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .form-signin-heading {
    margin-bottom: 10px;
    border: 1px;
  }
  .form-signin .form-control {
    position: relative;
    height: auto;
    padding: 10px;
    font-size: 12px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .btn {
      font-weight: 700;
      height: 36px;
      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      cursor: default;
  }
  
  /*
   * Card component
   */
   
  .form-signin input[type=email],
  .form-signin input[type=password],
  .form-signin input[type=text],
  .form-signin button {
      width: 100%;
      display: block;
      margin-bottom: 8px;
      z-index: 1;
      position: relative;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
  }
  
  .form-signin .form-control:focus {
      border-color: #0685FF;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #0066CC;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #0066CC;
  }
  
  .btn-signin {
      /*background-color: #4d90fe; */
      background-color: #0066CC;
      /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
      padding: 0px;
      font-weight: 700;
      font-size: 14px;
      height: 36px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      border: none;
      -o-transition: all 0.218s;
      -moz-transition: all 0.218s;
      -webkit-transition: all 0.218s;
      transition: all 0.218s;
  }
  
  .btn-signin:hover,
  .btn-signin:active,
  .btn-signin:focus {
      background-color: #0685FF;
  }
  
  /* LOADING */
  
  #loading{
      position:absolute;
      width:100%;
      height:100%;
      margin:0;
      padding:0;
      background:rgba(0,0,0,0.6);
      color:#fff;
      font-size:2.5em;
      text-align:center;
      z-index:9999;
      top:0;
      left:0;
      padding:25%;
  }
  
  /* loding spinner */
  .sk-fading-circle {
    margin: 0 auto;
    width: 1em;
    height: 1em;
    position: relative;
    display: inline-block;
    margin-left: 0.5em;
    vertical-align: bottom;
  }
  
  .sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #FFF;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
            animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  }
  .sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  .sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  .sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg);
  }
  .sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg);
  }
  .sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg);
  }
  .sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg);
  }
  .sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  .sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg);
  }
  .sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg);
  }
  .sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s;
  }
  .sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s;
  }
  .sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
  }
  .sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
  }
  .sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s;
  }
  .sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s;
  }
  .sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
  }
  .sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
  }
  .sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
  }
  .sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
  }
  .sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s;
  }
  
  @-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
  }
  
  @keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
  }
  /*end loading spinner */
  
  
  .modal-body{
      padding:15px 15px 0 15px;
  }
  
  .modal button.btn-xs{
      margin-top:8px;
  }
  
  .btn-toolbar .btn{
      font-size:12px;
  }
  .control-label {
    font-size: 12px;
  }
  .config-list {
  
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap; /* HP printers */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  
  }
  
  
  h3{
      margin:12px 0;
  }
  .glyphicon-play-circle {
      margin:auto;
      display:table;
      position: absolute;
      top:40px;
      left:70px;
  }
  .gi-2x{font-size: 2em;color: #ccc;cursor:move}
  .gi-3x{font-size: 3em;color: #9c9c9c}
  .gi-4x{font-size: 4em;color: #337ab7}
  .gi-5x{font-size: 5em;color: #9c9c9c}
  